<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @reservation.guest.name %></p>    
    <p>Here is your reservation update detail at <%= @reservation.restaurant.name %></p>

    <p>Old Reservation</p>    
    <p>Table: <%= @old_table_name %></p>
    <p>Guest Number: <%= @old_guest_number %></p>
    <p>Booking Time: <%= @old_booking_time %></p>    
    <br>
    
    <p>New Reservation</p>    
    <p>Table: <%= @reservation.table.name %></p>
    <p>Guest Number: <%= @reservation.guest_number %></p>
    <p>Booking Time: <%= @reservation.booking_time %></p>   
    <br>

    <p>Thanks for making reservation</p>
  </body>
</html>